﻿@{
    ViewBag.Title = "Audit Information";
}

<h2>Audit Information</h2>
<div>
    <table id="jqGrid"></table>
    <div id="jqControls"></div>
</div>

@section scripts{
    <link href="~/lib/jquery-ui/dist/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/lib/jquery-grid/dist/css/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/lib/jquery-ui/dist/js/jquery-ui.js"></script>
    <script src="~/lib/jquery-grid/dist/js/i18n/grid.locale-en.js"></script>
    <script src="~/lib/jquery-grid/dist/js/jquery.jqGrid.min.js"></script>
    <script src="~/js/jgGrid-auditor.js"></script>
}